*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-decoration: none;
}


.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: rgb(102, 167, 224); */
  background-color: #021222;
  padding: 10px;
  /* position: fixed;
  z-index: 9999;
  top: 0px;
  width: 100%; */
}
.menu{
  display: flex;
  gap: 20px;
}
a{
  color:white;
  font-weight: bold;
  font-size: 600;
}
.mnbtn{
  display: none;
}


a:hover{
  background-color: rgb(102, 167, 224);
  color: white;
border-radius: 2px;
}

button{
  padding: 8px;
  border: none;
  border-radius: 4px;
  width: 100px;
}


.container{
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  margin: auto;
}

table{
  padding: 10px;
}



td{
  padding: 10px;
}

tr{
padding: 10px;
}


.ant-table-cell{
}
.ant-table-thead{
  padding: 40px;
}

.ant-table-wrapper .ant-table-container
 table>thead>tr:first-child >*:first-child {
  background-color: aliceblue;
}
.ant-table-wrapper .ant-table-thead >tr>th{
  background-color: aliceblue;

}

.container1{
  display: flex;
  flex-direction: column;
  gap: 20px;
}


select{
  width: 200px;
  
}


.ant-pagination {
  padding: 10px;
  border: 1px solid rgb(66, 80, 192);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 8px;


}




.ant-pagination-options-size-changer.ant-select{
  padding: 20px;
  display: none;
}
.ant-table-pagination-right {
  padding: 10px;
  margin: auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
 
}

.main_cont{
  margin-bottom: 50px;
  position: relative;
}


.section1{
  display: flex;
  padding: 10px;
  gap: 30px;
  margin-top: 60px;

}


.ant-select-selector{
   border: 1px solid rgb(102, 167, 224);
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.ant-input-search .ant-input-group .ant-input-affix-wrapper:not(:last-child){
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}







.footer {
  margin-top: 20px;
  background-color: #18222d;
  display: flex;
  justify-content: space-around;
  color: white;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 70px;
  font-weight: 600;
}

#footerRight img {
  width: 30px;
  height: 30px;
}

#footerRight div {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

footer span {
  text-decoration: underline;
}

#footerSec a {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  color: white;
  text-decoration: none;
}

#footerMidSec img {
  width: 30px;
  height: 30px;
}

#footerMidSec div {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.linkedin{
  color: white;
}




.signpage{
  margin-top: 60px;
}


@media only screen and (max-width: 600px) {


  .menu{
    position: fixed;
    flex-direction: column;
    background-color: #18222d;
    padding: 20px;
    border-radius: 4px;
    height: 100vh;
    z-index: 1000; 
    top: 60px;
    right: 0;
    width: 200px;
  
    }
    .close {
      right: -100%;
      transition: right 2s ;
    }
    .open {
      transition: right 1s;
    }
    
    .mnbtn{
      display: block;
    }
  
    .btn{
      display: flex;
      gap: 10px;
    }

  .footer {
     flex-direction: column;
     gap: 20px;
     padding: 20px;
     margin-top: 110px;
   
  }

  #footerMidSec div {
 
    margin-top: 0px;
  }

  #footerRight{
   margin-top: 0px;
  }


  .ant-pagination {
    width: 100%;
    padding: 20px;
  
  
  }

}

