*{

  font-family: Georgia, 'Times New Roman', Times, serif;
}


.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #18222d;
  padding: 10px 20px;
  width: 100%;
  
}
.menu{
  display: flex;
  gap: 20px;
  align-items: center;
}
a{
  color:white;
  font-weight: bold;
  font-size: 600;
}
.btn{
  display: none;
}


a:hover{
  background-color: rgb(102, 167, 224);
  color: white;
border-radius: 2px;
}

#btnsame{
  border: none;
  border-radius: 4px;
  color: black;
  font-weight: bold;
  font-size: 600;
  padding: 8px 10px;
}


.container{
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  margin: auto;
}

table{
  padding: 10px;
}



td{
  padding: 10px;
}

tr{
padding: 10px;
}


.ant-table-cell{
}
.ant-table-thead{
  padding: 40px;
}

.ant-table table {
  border-spacing: 2px;
}

.ant-table-wrapper .ant-table-container
 table>thead>tr:first-child >*:first-child {
  background-color: aliceblue;
}
.ant-table-wrapper .ant-table-thead >tr>th{
  background-color: aliceblue;

}

.container1{
  display: flex;
  flex-direction: column;
  gap: 20px;
}




.ant-pagination {
  padding: 10px;
  border: 1px solid rgb(127, 178, 222);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 8px;


}




.ant-pagination-options-size-changer.ant-select{
  padding: 20px;
  display: none;
}
.ant-table-pagination-right {
  padding: 10px;
  margin: auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
 
}

.main_cont{
  margin-bottom: 50px;
  position: relative;
}


.section1{
  display: flex;
  padding: 10px;
  gap: 30px;
  margin-top: 40px;

}


.ant-select-selector{
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.ant-input-search .ant-input-group .ant-input-affix-wrapper:not(:last-child){
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.ant-input-search .ant-input-group{
  background-color:  #18222d;
  padding: 4px;
  border-radius: 4px;
}



.ant-select-outlined {
  background-color:  #18222d;
  padding: 4px;
  border-radius: 4px;
}


.dev-only-do-not-override-kghr11.ant-table-wrapper {
  border: 1px solid rgb(3, 3, 3);
}
.ant-table-tbody >tr >td {
  background-color:  rgb(233, 237, 241);
}

.ant-table-wrapper {
 
}

.ant-table-wrapper .ant-table-tbody >tr >td{
  /* color: red; */
}
.ant-table-cell{

}

.ant-table-cell span {
   color:rgb(31, 31, 126);
  padding: 4px;
}


.footer {
  margin-top: 20px;
  background-color: #18222d;

  display: flex;
  justify-content: space-around;
  color: white;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 70px;
  font-weight: 600;
}

#footerRight img {
  width: 30px;
  height: 30px;
}

#footerRight div {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

footer span {
  text-decoration: underline;
}

#footerSec a {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  color: white;
  text-decoration: none;
}

#footerMidSec img {
  width: 30px;
  height: 30px;
}

#footerMidSec div {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.linkedin{
  color: white;
}


.btn button{
  color: rgb(3, 0, 0);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  cursor: pointer;
}


.name{
  color: white;
  display: flex;
   justify-content: center;
  align-items: center;
  border: 1px solid rgb(238, 238, 238);
  border-left: none;
  border-top-left-radius: 30%;
  border-bottom-left-radius: 30%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

}
.name span{
  color: rgb(255, 255, 255);
  display: flex;
   justify-content: center;
  align-items: center;
  border-left: none;
  padding: 0px 10px;
}

.name img{
  width: 34px;
  height: 36px;
}



.signup h1{
  color: white;
  font-weight: bold;
  font-size: 600;
  text-align: center;

}
.signup p{
  color: white;
  font-weight: bold;
  font-size: 600;
  text-align: center;
  cursor: pointer;

}

.signupform span{
  color: red;
  font-weight: bold;
  font-size: 600;
}

label {
  color: white;
  font-size: 600;
  font-weight: bold;
}


.signup, .login{
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid  #18222d;
  width: 400px;
  margin: 50px auto;
  background-color: #26323f;
  border-radius: 8px;

}

.signupform{
  border: 3px solid  #18222d;
  display: flex;
  width: 90%;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  border-radius: 8px;
  margin: 10px auto;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
   
}

.signupform input, button{
  padding: 8px;
  border-radius: 4px;
  border: none;
}


.signbtn_div, .logindiv{
  width: max-content;
  margin: auto;
}

.logindiv button, .signbtn_div button{
  padding: 10px 30px;
}

.signbtn{
  cursor: pointer;
  font-weight: bold;

}

.signbtn:hover{
  background-color: #5f7184;
  color: white;
  cursor: pointer
 
}

.ant-pagination {
  min-width: 400px;
}


.order{
  display: flex;
  justify-content: center;
  align-items: center;

}
.order label{
  color: #18222d;
  font-weight: bold;
  font-size: 600;

}

#ascRadio{
  margin-right: 10px;
}

.box1{
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}
.box2{
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

}

.logo p{
  color: white;
  font-weight: bold;
}

.logo img{
  width: 40px;
  height: 40px;
}



@media only screen and (max-width: 610px) {
  .container{
    overflow-x: scroll;
  }

  .navbar{
    justify-content: space-between;
  }

  .menu{
    position: fixed;
    flex-direction: column;
    background-color: #18222d;
    padding: 20px;
    border-radius: 4px;
    height: 100vh;
    z-index: 1000; 
    top: 60px;
    right: 0;
    width: 200px;
  
    }
    .close {
      right: -100%;
      transition: right 2s  ;
    }
    .open {
      transition: right 1s;
    }
    
    .mnbtn{
      display: block;
    }
  
    .btn{
      display: flex;
      gap: 10px;
    }

  .footer {
     flex-direction: column;
     gap: 20px;
     padding: 20px;
     margin-top: 110px;
   
  }

  #footerMidSec div {
 
    margin-top: 0px;
  }

  #footerRight{
   margin-top: 0px;
  }


  .ant-pagination {
    width: 100%;
    padding: 20px;
  
  
  }

}


@media only screen and (max-width: 910px) {

  .footer {
    margin-top: 140px;
  
 }

}

